body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #ffe6f2;
}

header {
    background: #ff66b2;
    padding: 20px;
    text-align: center;
    color: white;
}

.agendamento {
    max-width: 400px;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ffb3d9;
}

.agendamento h2 {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background: #ff66b2;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #ff3385;
}

.mensagem {
    margin-top: 15px;
    font-weight: bold;
    color: green;
    text-align: center;
}
.lista {
    margin-top: 20px;
}

.card {
    background: #ffe6f2;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px #ffa3d6;
}

.btn-excluir {
    margin-top: 10px;
    background: #ff3366;
    color: white;
    border: none;
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.btn-excluir:hover {
    background: #cc0044;
}
.finalizado {
    background: #d4ffd4 !important;
    border-left: 5px solid #28a745;
}

.btn-finalizar {
    margin-top: 10px;
    background: #28a745;
    color: white;
    border: none;
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.btn-finalizar:hover {
    background: #1e7e34;
}

.status-text {
    font-weight: bold;
    margin-bottom: 10px;
}